<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @auction.title %>
</p>

<% if @auction.photos.any? %>
	<p>
		<% @auction.photos.each do |photo| %>
			<%= link_to cl_image_tag(photo.image.thumb.url), show_photo_path(photo_id: photo) %>
		<% end -%>
	</p>
<% end %>

<%= link_to 'Edit (Server-side)', edit_auction_path(@auction) %> |
<%= link_to 'Edit (Client-side)', edit_auction_path(@auction, direct_mode: true) %> |
<%= link_to 'Back', auction_path %>
